:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #4657f0;
  --secondary-color: grey;
  --font-color: black;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--font-color);
}
img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 2px;
  list-style-type: none;
}

/*Header Styles*/
header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5%;
  padding: 0 2% 3% 2%;
}

header .company {
  font-size: 60%;
  padding: 5%;
}

header .company h1 {
  margin-bottom: -5px;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.navigation img {
  max-width: 4em;
}

/*Main Styles*/
.content, .news-card, button {
  background-color: var(--secondary-color);
  border: 1px solid black;
  margin: 5%;
  display: flex;
  justify-content: center;
}

#news-highlights, #articles {
  background-color: var(--primary-color);
  border: 1px solid black;
  margin: 5%;
  display: block;
  justify-content: center;
}

/*News Card Styles*/
.news-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 75%;
  padding: 3%;
}

/*Weather Styles*/
.weather-sections {
  margin: 5%;
  padding: 5%;
  background-color: var(--primary-color);
}

.weather {
  background-color: var(--secondary-color);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather img, .weather p {
  margin: 0;
}

.weather img {
  margin-bottom: -40px;
}

.forecast {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.forecast-day {
  background-color: var(--secondary-color);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.forecast-day p {
  padding: 15px 0;
  margin: 0;
}

.forecast-day .top-temp {
  margin-bottom: -20px;
}

/*Button Styles*/
button {
  width: 90%;
}

button:hover {
  background-color: var(--primary-color);
}

/*Footer styles*/
footer {
  background-color: var(--primary-color);
  display: block;
  padding: 10% 0;
  text-align: center;
  font-size: 70%;
}
