@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&family=Rubik&display=swap');

:root {
  --font-body: Roboto, Helvetica, sans-serif;
  --font-headline: Rubik, Arial, 'Times New Roman';
  /* colors */
  --primary-color: #4657f0;
  --secondary-color: grey;
  --font-color: black;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--font-color);
}

h1, h2, h3, h4 {
  font-family: var(--font-headline);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 2px;
  list-style-type: none;
}

/*Header Styles*/
header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5%;
  padding: 0 2% 3% 2%;
}

header a {
  color: var(--font-color);
  text-decoration: none;
}

header .company {
  font-size: 60%;
  padding: 5%;
}

header .company h1 {
  margin-bottom: -5px;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.navigation img {
  max-width: 4em;
}

/*Main Styles*/
#main-grid a {
  text-align: center;
}

.content, .news-card, button, .article-detail {
  background-color: var(--secondary-color);
  border: 1px solid black;
  margin: 5%;
  display: flex;
  justify-content: center;
}

.news-card:hover, .article-detail:hover {
  box-shadow: 3px 3px 3px rgb(50, 50, 50);
}

#news-highlights, #articles, #recent-favorite {
  background-color: var(--primary-color);
  border: 1px solid black;
  margin: 5%;
  display: block;
  justify-content: center;
}

/*News Card Styles*/
.news-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 75%;
  padding: 3%;
}

/*Weather Styles*/
.weather-sections {
  margin: 5%;
  padding: 5%;
  background-color: var(--primary-color);
  border: 1px solid black;
}

.weather {
  background-color: var(--secondary-color);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather img, .weather p {
  margin: 0;
}

.weather img {
  margin-bottom: -40px;
}

.forecast {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.forecast-day {
  background-color: var(--secondary-color);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.forecast-day p {
  padding: 15px 0;
  margin: 0;
}

.forecast-day .top-temp {
  margin-bottom: -20px;
}

/*Button Styles*/
#nextPage {
  width: 90%;
}

button:hover {
  background-color: var(--primary-color);
}

#searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBtn {
  margin: 0 5% 0 0;
  height: 3em;
  align-items: center;
}

.search {
  margin-left: 5%;
  height: 3em;
}

/*Article Styles*/
.article-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin-left: 5%;
  padding: 1% 3%;
  background-color: var(--primary-color);
}

.article__content {
  background-color: var(--secondary-color);
  padding: 5%;
  border: 1px solid black;
}

#addToFavorites:hover {
  background-color: rgb(100, 100, 100);
}

/*Footer styles*/
footer {
  background-color: var(--primary-color);
  display: block;
  padding: 10% 0;
  text-align: center;
  font-size: 70%;
}
