<section class="company">
    <h1>News for Use</h1>
    <h2>Everything you need to know all in one place</h2>
</section>
<li class="navigation">
<ul>
  <a href="https://www.facebook.com/" target="_blank">
      <img src="images/facebook.png" alt="Facebook Icon">
  </a>
</ul>
<ul>
  <a href="https://twitter.com/" target="_blank">
      <img src="images/twitter-icon.jpg" alt="Twitter Icon">
  </a>
</ul>
<ul>
  <a href="https://www.linkedin.com/" target="_blank">
      <img src="images/linkedin-icon.jpg" alt="Linkedin Icon">
  </a>
</ul>
</li>